name: Send Bluesky Post

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Send post to Bluesky
      id: bluesky_post
      uses: cbrgm/bluesky-github-action@3364fa59b8bd054e6e83931eafddaa7016424418 # v1.1.4
      with:
        handle: ${{ secrets.BLUESKY_HANDLE }}
        password: ${{ secrets.BLUESKY_PASSWORD }}
        text: "Hello from GitHub Actions! https://github.com/cbrgm/bluesky-github-action"

