name: Send Bluesky Post

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Send post to Bluesky
      id: bluesky_post
      uses: cbrgm/bluesky-github-action@0786ab2b2eab4f121e96a78e0a9d75e4c84c93ec # v1.1.3
      with:
        handle: ${{ secrets.BLUESKY_HANDLE }}
        password: ${{ secrets.BLUESKY_PASSWORD }}
        text: "Hello from GitHub Actions! https://github.com/cbrgm/bluesky-github-action"

